
<div class="modal fade" id="fund" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">




                <div class="wey-fundWalletContainer mx-auto">
                    <div class="wey-fund-1">
                        <div class="wey-fundWalletFont"><p>Fund Wallet</p></div>
                        <div class="wey-fundExplain"><p>Use the details below to send money to your wallet.</p></div>
                    </div>
                    <div class="wey-fund-2">
                        <form>
                            <div class="mb-3">
                                <label for="EnterAmount" class="form-label wey-EnterAmount">Enter Amount</label>
                                <input type="email" placeholder="NGN 0.00" class="form-control wey-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="dropdown">
                                <label for="EnterAmount" class="form-label wey-EnterAmount">Payment Type</label>
                                <button class="btn btn-outline-secondary wey-dropdown-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    -Select-
                                </button>
                                <ul class="dropdown-menu wey-dropdown-list-1">
                                    <li><a class="dropdown-item" href="#">Pay with Paystack</a></li>
                                </ul>
                            </div>
                            <a class="btn btn-outline-light wey-fund-submit" href="#" role="button">Send</a>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>