<div class="ryt-row ryt-white" style="width:60%;margin:20% 10% 10% 20%; background-color:#F2F4F7">
    <div class="" style="margin:5%">
        <div class="ryt-center ryt-margin-bottom">
            <img src="images/image 5.png">
        </div>
        <div class="ryt-center ryt-margin-bottom">maryokafor@gmail.com</div>
        <div class="ryt-center ryt-margin-bottom">  NGN 28,500</div>
        <div class="ryt-row">
            <div class="ryt-col s6 ryt-padding ryt-center ryt-panel"style="background-color:#F2F4F7">PAY WITH CARD</div>
            <div class="ryt-col s6 ryt-padding ryt-center ryt-panel ryt-text-white"style="background-color:#6938EF"> PAY WITH BANK</div>
        </div>
        <div class="ryt-row ryt-margin-top">
            <label class="ryt-col s12">AMOUNT</label>
            <input class="ryt-col s12 ryt-padding ryt-round-large ryt-panel ryt-border"type="text" placeholder="Enter amount">
        </div>
        <div class="ryt-row ryt-margin-top">
            <label class="ryt-col s12">BANK</label>
            <select type="" class="ryt-col s12 ryt-padding ryt-round-large ryt-panel ryt-border" placeholder="Enter amount">
                <option class="ryt-panel" aria-placeholder="no">Select Bank</option>
                <option value="zenith"></option>
                <option value="fidelity">Fidelity Bank</option>
                <option value="skye">Skye Bank</option>
                <option value="first">First Bank</option>
                <option value="wema">wema Bank</option>
            </select>
        </div>
        <div class="ryt-row ryt-margin-top">
            <label class="ryt-col s12">ACCOUNT NUMBER</label>
            <input class="ryt-col s12 ryt-padding ryt-round-large ryt-panel ryt-border"type="text" placeholder="Enter account number">
        </div>
        <div class="ryt-row ryt-margin-top">
            <button style="background-color: #6938EF"class="ryt-text-white ryt-col s12 ryt-padding ryt-round-large ryt-panel ryt-border" placeholder="Enter account number">PAY NGN 28,500</button>
        </div>
        <div class="ryt-center ryt-margin-top">
            <img src="images/Frame 8916.png">
        </div>
    </div>
</div>