@inject UserManager<AppUser> _userManager
@inject SignInManager<AppUser> _signInManager
<div class="ogm-notify-flex-nav">
    <a class="navbar-brand" href="#" data-bs-target="#notification" data-bs-toggle="modal">
        <img src="~/images/ogm-notify-icon.png" />
    </a>

    <a href="#" data-bs-target="#account_settings" data-bs-toggle="modal" class="nav-link" style="font-weight: bold; color: black;">
        <img src="~/images/ogm-dummy-image.png" style="width: 30px" /> Franca John
    </a>
</div>