@{
    var message = ViewBag.Name;
}

<div class="congrats">
    <h2>Congratulations @message</h2>
    <p>Your Registration has been successful, You can now proceed to your Email to Confirm Email.</p>
</div>