@{
    ViewData["Title"] = "Messages";
}
<div class="ryt-13- container main-div">
    <div class="ryt-13-">
        <h2 class="ryt-13-messaging_title">Messages</h2>
        <div class="ryt-13-inner_container">
            <div class="ryt-13-left_inner_container">
                <div class="ryt-13-search_area">
                    <div class="ryt-13-search__input_area">
                        <div class="ryt-13-search_input">
                            <i class="ryt-13-bi bi-search icon"></i>
                            <input type="text" class="ryt-13-form-control" placeholder="Search">
                        </div>
                    </div>

                    <div class="ryt-13-left_inner_container_desc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                            <path d="M17.5032 10.5C17.5032 14.6421 14.1453 18 10.0032 18C8.30617 18 2.50378 18 2.50378 18C2.50378 18 3.8031 14.8801 3.2831 13.834C2.78388 12.8297 2.50317 11.6976 2.50317 10.5C2.50317 6.35786 5.86103 3 10.0032 3C14.1453 3 17.5032 6.35786 17.5032 10.5Z" stroke="#6938EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p>Send message</p>
                    </div>
                </div>
                <div class="ryt-13-chat_list_container">
                    <div class="ryt-13-chat_container" style="background: var(--Purple-25, #FAFAFF);">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> 04:46pm</span>
                    </div>
                        <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> 02:30pm</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> 01:46pm</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> 12:15pm</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> 10:00am</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> Mon</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> Sat</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                    <div class="ryt-13-chat_container">
                        <div class="ryt-13-chat_container_left">
                            <div class="ryt-13-pp_container">
                                <img src="~/images/Default.png" class="ryt-13-profile_image" alt="profile_Image" />
                            </div>
                            <div class="ryt-13-chat_snip_area_left">
                                <h6 class="ryt-13-chatmate_left">Oluchi Okwuoma</h6>
                                <p class="ryt-13-chat_snip">Artificial Rome develops its.......</p>
                            </div>
                        </div>
                        <span> Sat</span>
                    </div>
                    <div class="ryt-13-chat_list_divider"></div>
                </div>
            </div>

            @* /**/ *@
            <div class="ryt-13-right_inner_container">
                <div class="ryt-13-chatmate_name" ">
                    <h2>Oluchi Okwuoma</h2>
                </div>
                <div class="ryt-13-chat_area">
                    <div class="ryt-13-chat_container_right">
                        @* chatmate Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/PARTON.jpg" />
                                </div>
                                <div class="ryt-13-message_container">
                                    <h6 class="ryt-13-chatmate" style="color:#979797;">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                           <div class="ryt-13-time_delivery">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div>
                        @* My Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image_reverse">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/Default - Copy.png"/>
                                </div>
                                <div class="ryt-13-message_container_reverse">
                                    <h6 class="ryt-13-chatmat .ryt-13-text-reverse">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                           <div class="ryt-13-time_delivery_reverse">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div>
                        @* chatmate Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/PARTON.jpg"/>
                                </div>
                                <div class="ryt-13-message_container">
                                    <h6 class="ryt-13-chatmate" style="color:#979797;">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                           <div class="ryt-13-time_delivery">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div>
                        @* My Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image_reverse">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/Default - Copy.png"/>
                                </div>
                                <div class="ryt-13-message_container_reverse">
                                    <h6 class="ryt-13-chatmat .ryt-13-text-reverse">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                            <div class="ryt-13-time_delivery_reverse">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div> 
                        @* chatmate Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/PARTON.jpg"/>
                                </div>
                                <div class="ryt-13-message_container">
                                    <h6 class="ryt-13-chatmate" style="color:#979797;">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                           <div class="ryt-13-time_delivery">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div>
                        @* My Message *@
                        <div class="ryt-13-chat_snip_area_right">
                           <div class="ryt-13-pic_image_reverse">
                                <div class="ryt-13-profile_image_container">
                                    <img class="ryt-13-profile_image" alt="Image" src="~/images/Default - Copy.png"/>
                                </div>
                                <div class="ryt-13-message_container_reverse ">
                                    <h6 class="ryt-13-chatmat ">Hello good morning, how are you, please kindly check your wallet balance</h6>
                                </div>
                           </div>
                            <div class="ryt-13-time_delivery_reverse">
                                <span> 03:46pm</span>
                                <div class="ryt-13-checks">
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                    <span> <i class="ryt-13-bi bi-check2"></i></span>
                                </div>
                           </div>
                        </div> 

                    </div>
                    @* <div class="ryt-13-keyboard-input-container">
                        <div class="ryt-13-keyboard-input-area">
                            <
                        </div>
                    </div> *@
                    <div class="ryt-13-keyboard-input-container">
                        <span class="ryt-13-keyboard-input-area">
                            <img
                                 src="https://cdn.builder.io/api/v1/image/assets/TEMP/109a1a5e9169f481d4c034bc300a3a459ff04f6b4962725a241d6107f83f03e7?"
                                 class="ryt-13-emoji" />
                            <div class="ryt-13-emoji-right-border"></div>
                            <input class="ryt-13-chat-keyboard-input" placeholder="Message"/>
                        </span>
                        <button class="ryt-13-send-button">Send</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>

</div>
