<div class="modal fade" id="profile" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="ryts-2-font">
                    <span class="ryts-2-span">
                        <div class="ryts-2-div-3">
                            <img loading="lazy"
                                 src="~/Images/Avatar.png"
                                 class="ryts-2-img-2" />
                            <span class="ryts-2-span-3">
                                <div class="ryts-2-div-4" id="space-1">Patience Obi</div>
                                <div class="ryts-2-div-5">Mainland Senior School</div>
                                <div class="ryts-2-div-6">Head Teacher</div>
                            </span>
                        </div>
                        <div class="ryts-2-div-7">About</div>
                        <div class="ryts-2-div-8">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur feugiat
                            aenean morbi non pretium. Tortor lectus quam dictumst nunc, faucibus cursus.
                            Mi sit in bibendum faucibus sed ac id. Tortor lectus quam dictumst nunc,
                            faucibus cursus. Mi sit in bibendum faucibus sed ac id.
                        </div>
                        <div class="ryts-2-div-9">Other info</div>
                        <div class="ryts-2-div-10">choimaawoniyi@gmail.com</div>
                        <div class="ryts-2-div-11">08098556634</div>
                        <div class="ryts-2-div-12">
                            <a href="#" role="button" class="ryts-2-span-4" data-bs-dismiss="modal" data-bs-target="#sendReward" data-bs-toggle="modal">
                                <div class="ryts-2-span-4-1">Send Reward</div>
                            </a>
                            <a asp-action="messages" role="button" class="ryts-2-span-5"><div class="ryts-2-span-5-1">Message</div></a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>