

<div class="container p-5">
    <div class="ogm-notify-panel">
        <div class="ogm-notify-panel-inner">
            <div class="ogm-notify-top pt-4">
                <p>Notifications</p>
            </div>

            <div class="ogm-details-area">

                <p class="ogm-day-time">Today<p />
                <div class="ogm-flex-words ogm-border-around">
                    <p>You sent money to Babatunde<br /> <span class="ogm-day-time">12:30pm</span> </p>
                    <p style="color:var(--Main-Primary-color, #34A853)">Claimed</p>
                </div>

                <p>You funded your wallet with N60,000<br /> <span class="ogm-day-time pt">12:30pm</span> </p>

                <p class="ogm-day-time pt-3">Yesterday</p>
                <p>You funded your wallet with N60,000 <br /> <span class="ogm-day-time pt">12:30pm</span> </p>

            </div>


        </div>
    </div>
</div>