<!DOCTYPE html>
<html>
<head>
    <title>Profile Edit</title>
</head>
<body class="babs-body">
    <div class="rectangle">
        <img src="~/Images/Rectangle 307.jpg" />
        <div class="rectangletext">
            <p>Profile</p>
            </div>
    </div>
   <div class="babs-container">
       <div class="options">
           <p class="profile-colour">Edit Profile</p>
           <p>Change Password</p>
       </div>
       <div class="babs-form-area">
            <div class="babs-form-details">
                <p class="babs-edit">Edit Profile</p>
                <p class="babs-view">Only you can view and edit your profile</p>
                <form class="babs-form-items">
                    <label>Full Name</label>
                    <input type="text" placeholder="Franca John" />
                    <br />
                    <label>Full Name</label>
                    <input type="text" placeholder="Franca John" />
                    <br />
                    <label>Full Name</label>
                    <input type="text" placeholder="Franca John" />
                    <br />
                    <label>Full Name</label>
                    <input type="text" placeholder="Franca John" />
                    <br />
                    <button type="submit" class="save-button">Save</button>
                    
                  
                </form>
            </div>
       </div>
   </div>

</body>
</html>