@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Of Schools";
}
 <div class="my-container">

    <div class="back-img">
        <div class="text-area">
            <p> 
                Gift to Show appreciation <br />to teacher. <span class="text-money">Send the money!</span>
            </P>
        </div>
        <div class="image-area">
            <img src="~/Image/money.png" id="money"/>
        </div>

    </div>

    <div class="search-all">
        <p>
            All Schools
        </p>
        <div class="search">
               <div class="selector">
               
                   <img src="~/Image/search.png"/>
                   <input   placeholder="Select"/>

               </div> 

               <div class="filtery">

                <img src="~/Image/filter.png"/>
                <input placeholder="Filter"/>

                </div>
        </div>
    </div>
    
    @*    
    *@
    <div class="LOS-main">
        <div class="LOS-inner">
             <div class="LOS-upper-text">
                 <p>
                     List Of Schools
                 </p>
             </div>
                  <div class="LOS-inner-list">
                   
                      <div class="LOS-list">
                          <p>
                              MainLand Senior High School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      <hr/>
                      <div class="LOS-list">
                          <p>
                              Wesley Girls Senior Secondary School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      <hr/>
                      <div class="LOS-list">
                          <p>
                              Wesley Girls Junior Secondary School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      <hr/>
                      <div class="LOS-list">
                          <p>
                             Ebute-Metta High School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      <hr/>
                      <div class="LOS-list">
                          <p>
                              Marywood Senior Grammar School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      <hr/>
                      <div class="LOS-list" >
                          <p>
                              Akoka Junior High School
                          </p>
                          <img src="~/Image/Icon.png"/>
                      </div>
                      
                     
                      
                  </div>
        </div>

              <div class="pagination">
                  <button type="button" class="prev">
                      Previous
                  </button>
                  <p class="page-numb">
                      Page 1 of 10
                  </p>
                  <button type="button" class="next">
                      Next
                  </button>
              </div>
    </div>
    

</div>