
        <div class="ccu-rectangle">
            <img src="~/image/Rectangle 307.jpg" />
            <div class="ccu-rectangletext">
                <p>Profile</p>
            </div>
        </div>
        <div class="ccu-container">
            <div class="options">
                <p class="ccu-options-edit"><a href="#">Edit Profile</a></p>
                <p class="ccu-options-edit"><a href="#">Change Password</a></p>
            </div>
            <div class="ccu-form-area">
                <div class="ccu-form-details">
                    <P class="ccu-edit">Change Password</P>
                    <form class="ccu-form-items">
                        <label>Old password</label>
                        <input class="ccu-input" type="text" placeholder="Type in old password" />
                        <br />
                        <label>New password</label>
                        <input class="ccu-input" type="text" placeholder="Type in new password" />
                        <br />
                        <label>Confirm new password</label>
                        <input class="ccu-input" type="text" placeholder="Confirm password" />
                        <br />

                        <button type="submit" class="ccu-save-button">Save change</button>

                    </form>
                </div>
            </div>
        </div>

